<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Data</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <th>name</th>
      <th>phone-number</th>
      <th>spam-count</th>
    </tr>
    <% if(data.length > 0) { %>
      <% data.forEach(element => { %>
        <tr>
          <td><%= element.name %></td>
          <td><%= element.phonenumber %></td>
          <td><%= element.spam_likelihood %></td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="3">No Data Found</td>
      </tr>
    <% } %>
  </table>
</body>

</html>
