<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Data</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body  class="bg-zinc-900 text-white font-mono p-8" >
  <h1 class="w-max mx-auto text-3xl mb-2">User Data </h1> 

  <table class="border w-mx mx-auto">
    <tr class="border">
      <th class="border" >name</th>
      <th class="border">phone-number</th>
      <th class="border">spam-count</th>
    </tr>
    <% if(data.length > 0) { %>
      <% data.forEach(element => { %>
        <tr class="border">
          <td class="border"><%= element.name %></td>
          <td class="border"><%= element.phonenumber %></td>
          <td class="border"><%= element.spam_likelihood %></td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="3">No Data Found</td>
      </tr>
    <% } %>
  </table>
</body>

</html>
